.article-section
{
    margin: 0;
    padding-bottom: 160px;

    background-image: url(/assets/img/background-article.png);
}

.article-wrapper
{
    width: 78%;
    margin: auto;
}

.article__title
{
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 110px;

    margin: 0;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: white;
}

.article-container
{
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.article-box
{
    position: relative;

    display: flex;

    width: 33%;
    height: 15rem;

    color: white;
    background-color: #ec9e03;

    justify-content: center;
    align-items: center;
}

.article-box__text
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7rem;
    font-weight: 100;

    margin: 0;
    padding: 10px 15px;
}

.article-box_video-box
{
    background-image: url(/assets/img/article-video.png);
    background-size: cover;
}

.article-box__icon
{
    max-width: 80%;
}

.article-box__mini-icon
{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

@media all and (max-width:  950px)
{
    .article-wrapper
    {
        width: 90%;
    }
    .article__title
    {
        width: 90%;
    }
}

@media all and (max-width:  600px)
{
    .article-section
    {
        padding: 5px 0 0 0;

        background: none;
    }
    .article-container
    {
        display: grid;

        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 5px;
    }
    .article-wrapper
    {
        width: 100%;
    }
    .article__title
    {
        display: none;
    }
    .article-box
    {
        width: 100%;
    }
    .article-box:nth-child(3)
    {
        background-color: #f5c506;

        grid-column: span 2;
    }
    .article-box__icon
    {
        max-height: 80%;
    }
}
