body {
    max-width: 1200px;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.hero {
    width: 100%;
    background-color: teal;
    padding: 40px 0;
    background-image: url(/assets/img/hero-background.png);

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.logo {
    display: flex;

}
.logo__img {
    height: 65px;
}
.logo__text {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.7em;
}
.logo__text::after {
    content: "craft by css author.com";
    text-transform: uppercase;
    font-size: 10px;
    color: lightgray;
    font-style: normal;
}
.nav {
    min-width: 330px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5c506;
    box-shadow: -5px -3px 0 0 rgba(245, 197, 6, 0.6),
                -10px -6px 0 0 rgba(245, 197, 6, 0.4);
}
.nav-element {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-element:nth-child(2) {
    border-left: 1px solid #e0b402;
    border-right: 1px solid #e0b402;
    padding: 0 10px;
    height: 100%;
}
.nav-element__img {
    margin-right: 7px;
    width: 18px;   
}
.nav-element__link {
    text-transform: uppercase;
    color: #a88701;
    font-size: .9em;
    text-decoration: none;
}
.title {
    width: 90%;
    margin: 70px auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title__text {
    width: 300px;
    font-weight: 100;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: azure;
}
.title__text_highlighted {
    color: #f5c506;
    margin-bottom: 15px;
}
.services {
    margin:  auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #f6f6f6;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    width: 33%;
    margin: auto;
}
.service:nth-child(2) {
    border-left: solid #e4e4e4 1px;
    border-right: solid #e4e4e4 1px;
}

.service__img {
    max-width: 50%;
}
.service__title {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 100;

}
