.info-section
{
    padding-top: 15px;
    padding-bottom: 70px;

    background-color: #4c4c4c;
}
.info-wrapper
{
    width: 80%;
    margin: auto;
}

.info-wrapper__title
{
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 6rem;

    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: #f5c506;
}

.info-container
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}


.info-container__figure
{
    z-index: 2;
    height: 20rem;
    width: 50%;
    margin-right: 3.5rem;
    background-image: url(../img/info-devices.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.info-list
{
    width: 50%;
}

.info-list__item
{
    font-size: 1.6rem;
    line-height: 45px;

    list-style: url(../../assets/img/ellipse.svg);

    color: gray;
}

.footer
{
    border-top: solid 2px #2c2c2c;
    background-color: #4c4c4c;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo_footer
{
    width: 230px;
    height: 70px;
    margin: auto;
    
    justify-content: center;
}

.logo__text_footer::after
{
    content: none;
}

.logo__img_footer
{
    width: 2.7rem;
}

.logo__text_footer
{
    font-size: 1.8rem;
}

@media all and (max-width:  950px)
{
    .info-wrapper
    {
        width: 90%;
    }
    .article__title
    {
        width: 90%;
    }
   
}

@media all and (max-width:  850px)
{
    .info-container
    {
        flex-direction: column;
        width: 100%;
    }
    .info-container__figure
    {
        width: 90%;

    }
    .info-list
    {

        width: 70%;
    }
    
    
    .logo__img_footer
    {
        height: 60%;
        height: auto;
    }
}

@media all and (max-width:  600px)
{
    .info-wrapper__title
    {
        font-size: 2.4rem;

    }
    .info-list
    {
        display: none;
    }
    .footer
    {
        height: 60px;
    }
}
